@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Hubballi&family=Roboto+Serif:ital,wght@0,200;0,300;0,600;0,700;0,900;1,300;1,500;1,700;1,900&display=swap');

html {
    min-height: 100%;
    position: relative;
}

* {
    font-family: 'Fredoka', sans-serif;
    /* font-family: 'Hubballi', cursive;
    font-family: 'Roboto Serif', serif; */
}
body {
    margin-bottom: 140px;
}
header {
    background-color: rgb(255, 130, 136);
    padding: 10px;
    margin-bottom: 1rem;
}
header img{
    margin: 0px auto;
}
footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 100px;

    background: rgb(255,159,170);
    background: -moz-linear-gradient(0deg, rgba(255,159,170,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,159,170,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,159,170,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9faa",endColorstr="#ffffff",GradientType=1);
    
    color: rgb(0, 0, 0);
}
footer * {
    background-color: white;
    padding: 0px 15px 15px 15px;
    border-radius: 0px 0px 20px 20px;
}


.button-primary{
    background-color: rgb(209, 0, 80);
    color: white;
    border: none;
    font-weight: 500;
}
.button-primary:hover{
    background-color: rgb(189, 0, 116);
    color: white;
}
.button-primary:active{
    background-color: rgb(209, 0, 80);
    color: white;
}
.button-primary:focus{
    background-color: rgb(247, 35, 116);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
    color: white;
}

.f-s {
    font-size: 10px;
}
h4 {
    font-size: calc(1rem + .3vw);
}
.content {
    margin-bottom: 20px;
}
.content li > div * {
    margin-left: 10px;
}
form img {
    margin-right: 10px;
}

.thanks {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

th {
    font-weight: 600;
}

.admin {
    position: absolute;
    right: 0;
    top: 0;
}